<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kwang0.tutorialapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".database.sqlite.SQLiteActivity"/>
        <activity android:name=".database.realm.RealmActivity" />
        <activity android:name=".database.DatabaseActivity" />
        <activity android:name=".network.NetworkActivity" />
        <activity android:name=".javaE.stream.StreamFilterMapActivity" />
        <activity android:name=".javaE.stream.StreamLimitSkipActivity" />
        <activity android:name=".javaE.stream.StreamDistinctActivity" />
        <activity android:name=".javaE.stream.StreamConcatActivity" />
        <activity android:name=".javaE.stream.StreamSortedActivity" />
        <activity android:name=".javaE.stream.StreamMaxMinActivity" />
        <activity android:name=".javaE.stream.StreamFindMatchActivity" />
        <activity android:name=".javaE.optional.OptionalActivity" />
        <activity android:name=".javaE.stream.StreamCollectActivity" />
        <activity android:name=".javaE.stream.StreamReductionActivity" />
        <activity android:name=".async.coroutines.CoroutinesActivity" />
        <activity android:name=".async.asynctask.AsyncTaskActivity" />
        <activity android:name=".async.AsyncActivity" />
        <activity android:name=".async.rxJava.RxJavaActivity" />
        <activity android:name=".language.kotlin.KotlinActivity" />
        <activity android:name=".javaE.JavaEActivity" />
        <activity android:name=".language.java.JavaActivity" />
        <activity android:name=".language.LanguageActivity" />
        <activity android:name=".designpattern.DPActivity" />
        <activity
            android:name=".designpattern.mvc.MvcActivity"
            android:theme="@style/InnerTheme" />
        <activity
            android:name=".designpattern.mvvm.MvvmActivity"
            android:theme="@style/InnerTheme" />
        <activity
            android:name=".designpattern.mvp.MvpActivity"
            android:theme="@style/InnerTheme" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>